<!doctype html>
<html lang="ko" >
<head>
    <meta charset="utf-8">
    <meta name="description" content="Fresh - Discover and shop Fresh complete product range of skin care, perfumes and fragrances, makeup, cosmetics, hair care, candles and soaps. Official Online Store.">
    <meta name="keywords" content="fresh, body, care, cosmetics, makeup, beauty, products, fragrances, skincare, tips, fahrenheit, trends, j adore, DIOR, CHRISTIAN, COSMETICS, MAKEUP, BEAUTY, PRODUCTS, FRAGRANCES, BODY, CARE, SKINCARE, TIPS, FAHRENHEIT, TRENDS, J ADORE">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
    
    <meta name="keywords" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>{% block title %}은혜장로교회{% endblock %}</title>
    
    
    <style type="text/css">
    
    </style>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    
    
    
    <script type="text/javascript">
    var CONTEXT = '';
    </script>
</head>
<body class="home">
<ul>
    <li>교회안내</li>
    <li>교육</li>
    <li>컬럼</li>
    <li>말씀영상</li>
    <li>나눔</li>
</ul>
<div class="body-content">
{% block content %}{% endblock %}
</div>
<div class="footer">

</a>
<script type="text/javascript" src="${CONTEXT}/lib/jquery-1.7.2.min.js"></script>   
<script type="text/javascript" src="${CONTEXT}/lib/jquery.tools.min.js"></script>
<script type="text/javascript" src="${CONTEXT}/lib/fancyBox/source/jquery.fancybox.js"></script>
<script src="${CONTEXT}/asset/common.js?v=2"></script>
<script type="text/javascript" src="${CONTEXT}/fresh/lib/customFunctions.js"></script>
<script type="text/javascript" src="${CONTEXT}/asset/fresh.js?v=2"></script>
</body>
</html>